<div class="row m-0 p-0">
    <div class="col m-0 p-0">
        <%= operation.dividend %>
        <br/>
        <% if @with_answers then %>
            <%= operation.remainder %>
        <% else %>
            &nbsp;
        <% end %>
    </div>
    <div class="col pt-0 pl-1">
        <span class="border-bottom border-left">|<%= operation.divisor %></span>
        <br/>
        <% if @with_answers then %>
            <%= operation.quotient %>
        <% else %>
            &nbsp;
        <% end %>
    </div>
</div>
